<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="WcBetterShippingCalculatorForBrazil">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Includes</directory>
            <directory>Admin</directory>
            <directory>Public</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>node_modules</directory>
            <directory>wordpress</directory>
            <directory>.git</directory>
            <directory>.github</directory>
            <directory>.vscode</directory>
            <directory>languages</directory>
        </exclude>
    </source>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>

        <!-- Força o caminho do wp-tests-config.php -->
        <const name="WP_TESTS_CONFIG_FILE_PATH" value="./wp-tests-config.php"/>
    </php>
</phpunit>
