.wc-better-checkbox-disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    filter: grayscale(0.7) !important;
    background: #e7e7e7 !important;
    cursor: not-allowed !important;
}

.wc-better-checkbox-disabled-label {
    cursor: not-allowed !important;
}