name: Code Analysis

on:
  workflow_call:
    outputs:
      analysis_status:
        description: "Status da análise"
        value: ${{ jobs.summary.outputs.status }}

env:
  PLUGIN_NAME: woo-better-shipping-calculator-for-brazil
  PHP_VERSION: "7.4"
  
jobs:
  codeql-analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    steps:
      # Etapa de checkout de código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configuração do CodeQL
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      # Compilação do projeto (necessária apenas se houver compilação)
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      # Execução da análise CodeQL
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  plugin-check:
    name: Plugin Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run composer install
        uses: php-actions/composer@v6
        with:
          php_version: ${{ env.PHP_VERSION }}
          working_dir: "."
          args: --ignore-platform-reqs
          command: install
          dev: no
      - name: Executar Plugin Check com configurações personalizadas
        uses: wordpress/plugin-check-action@v1
        with:
          build-dir: './'
          exclude-directories: 'node_modules,vendor,.eslintrc'
          ignore-codes: |
            WordPress.WP.I18n.TextDomainMismatch
            WordPress.Security.NonceVerification.Missing
            WordPress.Security.NonceVerification.Recommended
            WordPress.DB.SlowDBQuery.slow_db_query_meta_key
            WordPress.DB.SlowDBQuery.slow_db_query_meta_value
            trademarked_term
            textdomain_mismatch
            hidden_files
            WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound
            WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound
            WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound
            WordPress.DB.DirectDatabaseQuery.NoCaching
            WordPress.DB.DirectDatabaseQuery.DirectQuery
          categories: |
            performance
            accessibility
            general
            plugin_repo
            security
          strict: true

  summary:
    runs-on: ubuntu-latest
    needs: [codeql-analysis, plugin-check]
    if: always()
    outputs:
      status: ${{ steps.check.outputs.status }}
    steps:
      - id: check
        run: |
          if [[ "${{ needs.codeql-analysis.result }}" == "success" && "${{ needs.plugin-check.result }}" == "success" ]]; then
            echo "status=success" >> $GITHUB_OUTPUT
          else
            echo "status=failure" >> $GITHUB_OUTPUT
            exit 1
          fi
