name: Code Analysis

on:
  pull_request:
    branches:
      - dev

jobs:
  codeql-analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    steps:
      # Etapa de checkout de código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configuração do CodeQL
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript

      # Compilação do projeto (necessária apenas se houver compilação)
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      # Execução da análise CodeQL
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  plugin-check:
    name: Plugin Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Executar Plugin Check com configurações personalizadas
        uses: wordpress/plugin-check-action@v1
        with:
          build-dir: './'
          exclude-directories: 'node_modules,vendor,.eslintrc'
          ignore-codes: |
            WordPress.WP.I18n.TextDomainMismatch
            WordPress.Security.NonceVerification.Missing
            WordPress.Security.NonceVerification.Recommended
            WordPress.DB.SlowDBQuery.slow_db_query_meta_key
            WordPress.DB.SlowDBQuery.slow_db_query_meta_value
            trademarked_term
            textdomain_mismatch
            hidden_files
          categories: |
            performance
            accessibility
            general
            plugin_repo
            security
          strict: true
