name: Release-Candidate Pipeline

on:
  pull_request:
    types: [ closed ]
    branches: [ dev ]
  workflow_dispatch:

jobs:
  analysis:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/analysis.yml
    
  release-candidate:
    needs: analysis
    uses: ./.github/workflows/release-candidate.yml
    with:
      analysis_status: ${{ needs.analysis.outputs.analysis_status }}
